@media(min-width: 900px) {
    #header {
        background-color: white;
        flex-direction: row;
        margin: 0 5%;
        height: 150px;
        padding: 0;
    }

    #header ul {
        margin: 0;
        width: 60%;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    #header ul li {
        margin: 0;
        text-align: right;
        font: italic normal bold 22px/26px 'Open Sans';
    }

    #body {
        width: 80%;
        margin: 5% auto;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #body div {
        margin: 0 2.5%;
    }

    #body div img {
        size: 80%;
    }

    #body div h1 {
        font: italic normal bold 22px/26px 'Open Sans';
        color: rgba(8, 8, 58, 1);
    }

    #body div p {
        font: normal normal normal 16px/20px 'Open Sans';
        color: rgba(170, 170, 170, 1);
    }

    #bottom {
        margin: 0 auto;
        flex-direction: row;
    }

    #bottom #bottom-first {
        margin: 0 2.5% 0 0;
        height: 100%;
    }

    #bottom #bottom-first h1 {
        font: italic normal bold 30px/36px 'Open Sans';
    }

    #bottom #bottom-second {
        margin: 0 0 0 2.5%;
        height: 100%;
    }

    #bottom #bottom-second h1 {
        font: italic normal bold 30px/36px 'Open Sans';
    }

    #bottom div p {
        margin: 5% auto;
        font: normal normal normal 22px/26px 'Open Sans';
    }

    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 80%;
        margin: 5% auto;
    }

    footer p {
        margin: 0;
        font: normal normal normal 15px/19px 'Open Sans';
    }

    footer #social {
        margin: 0;
        width: 10%;
    }
}

@media (min-width: 1441px) {
    #header ul {
        width: 35%;
    }

    #body div h1 {
        font: italic normal bold 30px/36px 'Open Sans';
    }

    #body div p {
        font: normal normal normal 22px/26px 'Open Sans';
    }

    #bottom div p {
        margin: 5% auto;
        font: normal normal normal 22px 'Open Sans';
    }

    footer #social {
        width: 7.5%;
    }
}