body {
    overflow-x: hidden; 
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(233, 238, 242, 1);
    padding: 10% 0 5% 0;
}

#header header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    width: 75%;
}

#header header a {
    text-decoration: none;
    margin: 5% 2.5%;
    font: italic normal bold 20px 'Open Sans';
    color: rgba(8, 8, 58, 1);
}

#header header a:first-child {
    color: rgba(255, 1, 123, 1);
}

#banner {
    height: 100%;
    width: 100%;
}

#body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: 5% auto 10% auto;
}

#body div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
}

#body div h1 {
    margin-top: 10%;
    color: rgba(8, 8, 58, 1);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#body div p {
    margin-top: 10%;
    text-align: center;
    font-size: 12.5px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(170, 170, 170, 1);
}

#bottom {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 10% auto;
}

#bottom div {
    width: 40%;
    text-align: center;
    padding: 5%;
}

#bottom #bottom-first {
    background-color: rgba(8, 8, 58, 1);
    margin-right: 2.5%;
}

#bottom #bottom-first h1 {
    color: rgba(255, 1, 123, 1);
    font: italic normal bold 20px/24px 'Open Sans';
}

#bottom #bottom-second {
    background-color: rgba(255, 1, 123, 1);
    margin-left: 2.5%;
}

#bottom #bottom-second h1 {
    color: rgba(8, 8, 58, 1);
    font: italic normal bold 18px/24px 'Open Sans';
}

#bottom div p {
    margin-top: 10%;
    color: rgba(255, 255, 255, 1);
    font: normal normal normal 15px 'Open Sans';
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

footer p {
    text-align: center;
    font: normal normal normal 12.5px 'Open Sans';
    color: rgba(170, 170, 170, 1);
    margin: 5% 0 10% 0;
}