html, body {
    overflow-x: hidden; 
}

#main {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(233, 238, 242, 1);
    padding: 10% 0 5% 0;
}

#header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    width: 75%;
}

#header ul li {
    margin: 5% 2.5%;
    font: italic normal bold 20px 'Open Sans';
    transition: transform 0.5s;
}

#header ul li a {
    text-decoration: none;
    color: rgba(8, 8, 58, 1);
}

#header ul li:first-child a {
    color: rgba(255, 1, 123, 1);
}

#header ul li:hover {
    opacity: 0.75;
    transform: scale(1.15);
}

#banner {
    height: 100%;
    width: 100%;
}

#body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 5% auto 10% auto;
}

#body div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
    margin-top: 5%;
    transition: transform 0.5s;
}

#body div:hover {
    transform: scale(0.90);
    cursor: pointer;
}

#body div h1 {
    margin-top: 10%;
    color: rgba(8, 8, 58, 1);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#body div p {
    margin-top: 10%;
    text-align: center;
    font-size: 12.5px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(170, 170, 170, 1);
}

#bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto 10% auto;
}

#bottom div {
    width: 60%;
    text-align: center;
    padding: 5%;
    transition: transform 0.5s;
}

#bottom div:hover {
    opacity: 0.9;
    cursor: pointer;
    transform: scale(1.15);
}

#bottom #bottom-first {
    background-color: rgba(8, 8, 58, 1);
}

#bottom #bottom-first h1 {
    color: rgba(255, 1, 123, 1);
    font: italic normal bold 20px/24px 'Open Sans';
}

#bottom #bottom-second {
    background-color: rgba(255, 1, 123, 1);
    margin-top: 10%;
}

#bottom #bottom-second h1 {
    color: rgba(8, 8, 58, 1);
    font: italic normal bold 18px/24px 'Open Sans';
}

#bottom div p {
    margin-top: 10%;
    color: rgba(255, 255, 255, 1);
    font: normal normal normal 15px 'Open Sans';
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

footer p {
    text-align: center;
    font: normal normal normal 12.5px 'Open Sans';
    color: rgba(170, 170, 170, 1);
    margin: 5% 0 10% 0;
}

footer img {
    transition: transform 0.5s;
}

footer img:hover {
    transform: scale(1.30);
}